* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo img {
    width: 139px;
    height: 60px;
    gap: 16px 346px 16px 120px;
}
header {
    background-color: #FFFFFF;
    padding-top: 34px;
    

}
nav {
    width: 1600px;

    margin: 0 auto;
    display:flex ;
    justify-content: space-between;
}
nav .tolls {
    display: flex;
    list-style-type: none;
    text-align: center;
    gap: 32px;
    color: #000000;
}
nav .nav-button {
    width: 164px;
    padding: 12px 16px;
    gap: 24px 120px 24px 346px;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    border:none ;
    border-radius: 4px;
   

}
#banner{
    border: 1px solid red;
    margin: 0%;
    
    
}


#banner .banner-content {
    width: 1360px;

    margin: 115px 120px 179px 120px;
    
    
    align-items:center;


}
#banner .banner-content button{
    color: #469165;
    background-color: #FFFFFF;
    border:none ;
    border-radius: 4px;
    padding: 8px 12px 8px 34px;

}
#banner .banner-content h1{
    color: #FFFFFF;
    font-weight:bolder;
font-size: 80px;

}
#banner .extra-color {
    color: #30B868;
    
}
section {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
#banner .banner-content p {
    font-size: 18;
    color: #FFFFFF;
    line-height: 28px;
}